body {
    font-family: "Poppins", sans-serif;

}

.container {
    max-width: 1400px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.grid {
    display: grid;
    grid-gap: 64px;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

.card {
    background-color: white;
    color: #272044;
    margin: 30px 0;
    vertical-align: middle;
}


.card-text {
    padding: 24px 32px;
}

.btn {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: Fill (306px)px;
    height: Hug (53px)px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    opacity: 0px;
    background: #462CB2;
    

}

main h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

main p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    opacity: 70%;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('../media/header-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}

header h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
}

header h3 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 900;
    letter-spacing: 5px;
    margin: 0;
}

header a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: #272044;
    padding: 16px 32px;
    margin-top: 32px;
}

main {
    background-color: white;
}

main h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 5px;
    text-align: left;
    margin: 0;
    color: #272044;
    opacity: 30%;
    text-transform: uppercase;
}

main h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    color: #272044;
    margin: 0;
}

main p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #272044;
    opacity: 70%;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}

section.secondary {
    background: #F8F8F8;
}

.black-sand-beach {
    width: 570px;
    height: 461px;
}

footer {
    color: white;
    background-image: linear-gradient(rgba(39,32,68,0.8), rgba(39,32,68,0.9)), url('../media/volcano-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
}

footer a {
    color: white;
    opacity: 70%;
}

footer h3 {
font-size: 20px;
font-weight: 700;
line-height: 30px;
text-align: left;
}

footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    opacity: 70%;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 960px) {

    header {
        padding: 60px 0;
    }
    
    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

    section {
        padding: 30px;
    }

    /*main, main h2, main h3, main p {
        text-align: center;
    }*/

    footer {
        padding: 50px 80px;
    }

    footer h3 {
        font-size: 15px;
    }

    footer p {
        font-size: 12px;
    }

    footer li {
        font-size: 12px;
    }
}